[project]
	description = Simple State Machine with transitions, guards, actions.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lind
[access "refs/for/refs/*"]
	read = group user/lind
	push = group user/lind
	label-Code-Review = -2..+2 group user/lind
	label-Verified = -1..+1 group user/lind
	rebase = group user/lind
	removeReviewer = group user/lind
	submit = group user/lind
[access "refs/heads/*"]
	read = group user/lind
	create = group user/lind
	push = +force group user/lind
	pushMerge = group user/lind
[access "refs/tags/*"]
	push = +force group user/lind
	pushTag = group user/lind
	pushSignedTag = group user/lind
